
  .content {
    width: 85%;
    min-height: 750px;
    min-width: 600px;
    background-color: $primary-color;
  }
  
  .content ul {
    padding-left: 30px;
  }
  
  .content li {
    font-size: 1em;
  }
  
  .content h1 {
    font-size: 62px;
    -webkit-margin-before: 0;
    padding-top: 40px;
    padding-left: 30px;
  }
  
  .content video {
    padding-left: 30px;
  }
  
  .content p {
    padding-left: 30px;
    width: 55%;
    min-width: 550px;
  }
  
  .content a {
    color: inherit;
    padding-left: 30px;
    text-decoration: none;
  }
  
  .content a:hover {
    text-decoration: underline;
  }
  